
body{
  background-color: #8C001D;
}
header{
  background-color: #033E94;
}
/*
main {
  display: block;
  margin: 0 auto;
  max-width: 420px;
  padding: 0 16px 16px;
}
*/
main{
  background-color: #5C008C;
}
footer{
  background-color: ##839900;
}
/*
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  clear: both;
  display: inline-block;
  float: left;
  max-width: 100%;
  padding: 32px 0;
  text-align: center;
}
*/
div.YesNo{
  max-width: 100%;
  height: auto;
  float: left;
  padding-right: 20px;
}
img{
  max-width: 100%;
  height: auto;
}
